@import "bootstrap/app";
@import "common";
@import "footer";
@import "tables";
@import "header";

// sass-lint:disable no-ids
#root {
  position: relative;
  min-height: 100%;
}

main {
  min-height: 100vh;
  padding-top: 45px;
  padding-bottom: 60px;
  @media screen and (max-width: 768px) {
    padding-bottom: 200px;
  }
}

.loading {
  margin-top: 20px;
}

a {
  cursor: pointer;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

@media (min-width: 768px) {
  .container {
    width: inherit;
  }
}

.product {
  color: #b70000;
}

.value-note {
  font-size: 18px;
  color: #9e9e9e;
}

.discount {
  color: #556b2f;
}

.flights {
  padding-bottom: 10px;
  background-color: #ddd;
  border-bottom: 1px solid #000;
}
