$primary-color:         #25343c;
$primary-color-dark:    #161e21;
$primary-color-light:   #4a6572;
$primary-color-text:    #333;
$accent-color:          #c7d907;
$header-color-table:    #555;
$white-color:           #fafafa;
